<!-- head 태그도 base.html로 넘기자 -->

<!-- base.html 불러오자 -->
{% extends 'base.html' %}

<!-- 하단이 개별 컨텐츠라고 알려주자 -->
{% block contents %}

<body>
    <!-- nav바 코드는 base.html로 날림 -->
    <br><br>
    <!-- {{blogs}}  blogs = Blog.objects # model로부터 객체 목록을 전달 -->

    <!-- html 파일 작성하면 url 작업 -->

    <!-- Blog라는 클래스로 만든 객체들Queryset 가져오는 Method -->

<!-- 밑에 부트스트랩 작업때메 주석 ㅇㅇ
    {% for blog in blogs.all %}
        <div class = "container">
            <h1> 제목 : {{blog.title}} </h1>
            <p> 날짜 : {{blog.pub_date}} </p>
            // <p> 본문 : {{blog.body}} </p>
            <p> 본문 미리보기 : {{blog.summary}} <a href="{% url 'detail' blog.id %}">...more</a> </p>    
        </div>
    {% endfor %}
-->

    <!-- 이제 class에 글자수 제한 함수 넣자 -->
    <!-- ...more 더보기에 링크 걸자 -->
    <!-- 이제 detail.html 페이지 만들자 url부터 먼저 작업 -->

    
    <!-- home.html에 글쓰기 링크 걸자 -->
    <footer>
        <a href="{% url 'new' %}">글쓰기</a>
    </footer>


    <!-- 깔끔하게 부트스트랩 card에 내용 넣어보자 -->
    {% for blog in blogs.all %}
        <div class = "container">
            <div class="card">
                <div class="card-body">
                <h2 class="card-title">{{blog.title}}</h2>
                <h6 class="card-subtitle mb-2 text-muted">{{blog.pub_date}}</h6>
                <p class="card-text">{{blog.summary}}</p> <br>
                <a href="{% url 'detail' blog.id %}" class="card-link">...more</a>
                </div>
            </div>
        </div>
        <br><br>
      {% endfor %}

</body>
{% endblock %}


